@page
@model EditRecipeModel
@inject SweetAlertService Swal;
@{
    ViewData["Title"] = "Edit Recipe";
}

<body background="/images/background.jpg" class="bg">
    <div class="text-center py-1">
        <h1 class="display-1 py-1">Edit Recipe</h1>
    </div>
    <div class="container bg-light col-xxl-6 px-4 py-5 shadow-lg">
        <h4 class="mb-3">Recipe's details</h4>
        <form method="post" id="updateRecipeForm">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row g-3">
                <div class="col-sm-12">
                    <label for="staticName" class="form-label fs-4">Current title</label>
                    <div class="col-sm-12">
                        <input type="text" readonly class="form-control-plaintext" id="staticName"
                            value="@Model.UpdatedRecipe.Title">
                        <input type="hidden" name="id" value="@Model.UpdatedRecipe.Id">
                    </div>
                    <div class="col-sm-12 py-2">
                        <label for="recipeName" class="form-label fs-4">New title</label>
                        <input asp-for="UpdatedRecipe!.Title" type="text" class="form-control" id="recipeName"
                            placeholder="New title" required>
                        <span asp-validation-for="@Model.UpdatedRecipe.Title" class="text-danger"></span>
                    </div>
                    <div class="col-sm-12 py-2">
                        <label for="Ingredients" class="form-label fs-4">Ingredients</label>
                        <button type="button" class="btn btn-primary btn-sm mx-3" id="addIngredients">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-plus-lg" viewBox="0 1 16 16">
                                <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1
                                    0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0
                                    0 1 8 2Z">
                                </path>
                            </svg>
                        </button>
                        @foreach (var item in Model.UpdatedRecipe.Ingredients)
                        {
                            <div class="input-group col-sm-12 py-1">
                                <input type="text" class="form-control" id="@item" value="@item"
                                asp-for="UpdatedRecipe!.Ingredients" required>
                                <button type="button" class="btn btn-danger" tabindex="-1" id="removeExistingIng">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    class="bi bi-trash3-fill" viewBox="0 0 16 16">
                                        <path
                                        d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5Zm-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5ZM4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06Zm6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528ZM8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5Z">
                                        </path>
                                    </svg>
                                </button>
                                <span asp-validation-for="@Model.UpdatedRecipe.Ingredients" class="text-danger"></span>
                            </div>
                        }
                        <div id="newRowIng">
                            <input type="hidden" id="ingredientsCount" value="0">
                        </div>
                    </div>
                    <div class="col-sm-12 py-2">
                        <label for="Instructions" class="form-label fs-4">Instructions</label>
                        <button type="button" class="btn btn-primary btn-sm mx-3" id="addInstructions">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-plus-lg" viewBox="0 1 16 16">
                                <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1
                                    0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0
                                    0 1 8 2Z">
                                </path>
                            </svg>
                        </button>
                        @foreach (var instruction in Model.UpdatedRecipe.Instructions)
                        {
                            <div class="input-group col-sm-12 py-1">
                                <input type="text" id="@instruction" class="form-control" value="@instruction"
                                asp-for="UpdatedRecipe!.Instructions" required>
                                <button type="button" class="btn btn-danger"  tabindex="-1" id="removeExistingInstruction">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    class="bi bi-trash3-fill" viewBox="0 0 16 16">
                                        <path
                                        d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5Zm-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5ZM4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06Zm6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528ZM8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5Z">
                                        </path>
                                    </svg>
                                </button>
                                <span asp-validation-for="@Model.UpdatedRecipe.Instructions" class="text-danger"></span>'
                            </div>
                        }
                        <div id="newRowInstruction">
                            <input type="hidden" id="InstructionsCount" value="0">
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label for="Categories" class="form-label fs-4">Categories</label>
                            <select id="categoriesDropdown" asp-for="@Model.CategoriesIds" multiple="multiple"
                                class="form-control">
                                <span asp-validation-for="@Model.UpdatedRecipe.Categories" class="text-danger"></span>
                                @foreach (var item in Model.ListCategories)
                                {
                                    <option value="@item.Id">@item.Name</option>
                                }
                            </select>
                            <label for="categorySelect">Choose minimum 1</label>
                        </div>
                    </div>
                </div>
                <div class="d-grid gap-2 d-md-flex justify-content-md-center">
                    <button type="button" class="btn btn-dark" onclick="return confirmUpdate();">Update recipe</button>
                    <a type="button" class="btn btn-outline-danger" asp-page="/Recipes/List">Cancel</a>
                </div>
            </div>
        </form>
    </div>
</body>
@section Scripts
{
<script type="text/javascript">
    function confirmUpdate() {
        Swal.fire(
            {
                title: 'Confirm new updates?',
                icon: 'question',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, update it!'
            }).then((result) => {
                if (result.value) {
                    $('#updateRecipeForm').submit();
                }
            });
    }
</script>
<partial name="_ValidationScriptsPartial" />
<script>
    $("#addIngredients").click(function () {
        var total = $("#ingredientsCount").val();
        total++;
        $("#ingredientsCount").val(total);
        var newRows = '<div class="input-group col-sm-12 py-1" id="div ' + (total) + '">'
            + '<input type="text" class="form-control" id="Ingredients' + (total) + '" placeholder="Ingredient" data-val="true" name="UpdatedRecipe.Ingredients" value>'
            + '<button type="button" tabindex="-1" class="btn btn-danger" id="removeIngredient">'
            + '<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3-fill" viewBox="0 0 16 16">'
            + '<path d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5Zm-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5ZM4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06Zm6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528ZM8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5Z">'
            + '</path>'
            + '</svg>'
            + '</button>'
            + '</div>';
        $("#newRowIng").append(newRows);
    });
    $(document).on('click', '#removeIngredient', function () {
        var total = $("#ingredientsCount").val();
        total--;
        $("#ingredientsCount").val(total);
        $(this).parent().remove();
    });
</script>
<script>
    $(document).on('click', '#removeExistingIng', function () {
        $(this).parent().remove();
    });
</script>
<script>
    $(document).on('click', '#removeExistingInstruction', function () {
        $(this).parent().remove();
    });
</script>
<script>
    $("#addInstructions").click(function () {
        var total = $("#InstructionsCount").val();
        total++;
        $("#InstructionsCount").val(total);
        var newRows = '<div class="input-group col-sm-12 py-1" id="div ' + (total) + '">'
            + '<input type="text" class="form-control" id="Instructions' + (total) + '" placeholder="Instruction" data-val="true" name="UpdatedRecipe.Instructions" value>'
            + '<button type="button" tabindex="-1" class="btn btn-danger" id="removeInstruction">'
            + '<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3-fill" viewBox="0 0 16 16">'
            + '<path d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5Zm-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5ZM4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06Zm6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528ZM8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5Z">'
            + '</path>'
            + '</svg>'
            + '</button>'
            + '</div>';
        $("#newRowInstruction").append(newRows);
    });
    $(document).on('click', '#removeInstruction', function () {
        var total = $("#InstructionsCount").val();
        total--;
        $("#InstructionsCount").val(total);
        $(this).parent().remove();
    });
</script>
}