@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<div>
    @foreach(var item in @Model._categories)
    {
        <h1>@item.Name</h1>
        <form method="post" asp-page-handler="Update" asp-route-id="@item.Id">
            <input type="text" class="form-control" asp-for="@Model.UpdatedName" />
            <button type="submit">Update</button>
        </form>
    }
</div>
<form method="post">
    <input type="text" id="categoryName" class="form-control" asp-for="@Model.CategoryTitle" />
    <button type="submit" class="btn btn-dark">Create category</button>
</form>

